version: '3.9'

services:
  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_DB: eventai
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: rousseau2006
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: eventai_app
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/eventai
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: rousseau2006
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
    ports:
      - "8080:8080"
    depends_on:
      - postgres

volumes:
  postgres_data:
